# ***** SynapGrad *****
numpy>=1.23.0,<3.0.0 # Core
# graphviz==0.20.1 # (Optional) Visualize graph
# -- Train Utils
pkbar==0.5
matplotlib>=3.0.0,<4.0.0
scikit-learn>=1.2.1,<2.0.0

# ***** Notebook Requirements and tests *****
torch>=1.12.1,<3.0.0
torchvision>=0.13.1
pytest>=8.0.0,<9.0.0